<div class="card">
    <div class="card-body">
        <h3>
            Réinitialiser mon mot de passe
        </h3><br>
        <form class="form-sample" [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
            <div>
                <div class="form-group">
                    <label>Ancien mot de passe<i style="color: red;">
                            *</i></label><br>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" formControlName="last_password"
                            id="exampleInputPassword1" [ngClass]="{ 'is-invalid': submitted && f.last_password.errors || lastPasswordVerif == false}">
                        <div *ngIf="submitted && f.last_password.errors" class="invalid-feedback">
                            <div *ngIf="f.last_password.errors.required">L'ancien mot de passe est obligatoire !
                            </div>
                        </div>
                        <div *ngIf="lastPasswordVerif == false" class="invalid-feedback">L'ancien mot de passe est incorrect
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Nouveau mot de passe <i style="color: red;">
                            *</i></label><br>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" formControlName="new_password"
                            id="exampleInputPassword1" [ngClass]="{ 'is-invalid': submitted && f.new_password.errors}">
                        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                            <div *ngIf="f.new_password.errors.required">Le nouveau mot de passe est obligatoire !
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Répéter le mot de passe <i style="color: red;">
                            *</i></label><br>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" formControlName="repeat_password"
                            id="exampleInputPassword1"
                            [ngClass]="{ 'is-invalid': submitted && f.repeat_password.errors}">
                        <div *ngIf="submitted && f.repeat_password.errors" class="invalid-feedback">
                            <div *ngIf="f.repeat_password.errors.required">Répéter le nouveau mot de passe est
                                obligatoire !
                            </div>
                            <div *ngIf="f['repeat_password'].errors['matching']">Les mots de passe doivent être
                                identique
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br>
            <div style="float: right;">
                <button type="button" class="btn btn-gradient-dark btn-fw"
                    (click)="close()">Annuler</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-gradient-primary btn-fw">Modifier</button>
            </div>
        </form>
    </div>
</div>