<div class="card">
    <div class="card-body">
        <h3>
            Effectuer un paiement
        </h3><br>
        <form class="form-sample" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
            <div>
                <div>
                    <div class="form-group">
                        <label >Montant <i style="color: red;">
                                *</i></label><br>
                        <div >
                            <input type="number" class="form-control" formControlName="montant"
                                [ngClass]="{ 'is-invalid': submitted && f.montant.errors}">
                            <div *ngIf="submitted && f.montant.errors" class="invalid-feedback">
                                <div *ngIf="f.montant.errors.required">Le montant est
                                    obligatoire !</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label >Date de paiement<i style="color: red;">
                                *</i></label>
                        <div >
                            <input  type="date" class="form-control" formControlName="date_paiement"
                                [ngClass]="{ 'is-invalid': submitted && f.date_paiement.errors}">
                            <div *ngIf="submitted && f.date_paiement.errors" class="invalid-feedback">
                                <div *ngIf="f.date_paiement.errors.required">La date du paiement est obligatoire !
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label >Mode de paiement <i style="color: red;">
                                *</i></label><br>
                        <div >
                            <input type="text" class="form-control" formControlName="mode_paiement"
                                [ngClass]="{ 'is-invalid': submitted && f.mode_paiement.errors}">
                            <div *ngIf="submitted && f.mode_paiement.errors" class="invalid-feedback">
                                <div *ngIf="f.mode_paiement.errors.required">Le mode de paiement est
                                    obligatoire !</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label >Nombre d'heure de travaille <i style="color: red;">
                                *</i></label><br>
                        <div >
                            <input type="number" class="form-control" formControlName="nombre_heure_travaille"
                                [ngClass]="{ 'is-invalid': submitted && f.nombre_heure_travaille.errors}">
                            <div *ngIf="submitted && f.nombre_heure_travaille.errors" class="invalid-feedback">
                                <div *ngIf="f.nombre_heure_travaille.errors.required">Le nombre d'heure de travail est
                                    obligatoire !</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label >Details</label><br>
                        <div >
                            <input type="text" class="form-control" formControlName="details">
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right;">
                <button type="button" class="btn btn-gradient-dark btn-fw"
                    (click)="close()">Annuler</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-gradient-primary btn-fw">Modifier</button>
            </div>
        </form>
    </div>
</div>