<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h3>
          Ajouter un élève
        </h3><br>
        <form class="form-sample" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
          <p class="card-description">
            Elève
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Matricule <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="matricule"
                    [ngClass]="{ 'is-invalid': submitted && f.matricule.errors}" disabled>
                  <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
                    <div *ngIf="f.matricule.errors.required">Le prénom est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prénom <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="prenom"
                    [ngClass]="{ 'is-invalid': submitted && f.prenom.errors}">
                  <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                    <div *ngIf="f.prenom.errors.required">Le prénom est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="nom"
                    [ngClass]="{ 'is-invalid': submitted && f.nom.errors}">
                  <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required">Le nom est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date de naissance <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="date" class="form-control" formControlName="date_naissance"
                    [ngClass]="{ 'is-invalid': submitted && f.date_naissance.errors}">
                  <div *ngIf="submitted && f.date_naissance.errors" class="invalid-feedback">
                    <div *ngIf="f.date_naissance.errors.required">La date de naissance est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Lieu de naissance <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="lieu_naissance"
                    [ngClass]="{ 'is-invalid': submitted && f.lieu_naissance.errors}">
                  <div *ngIf="submitted && f.lieu_naissance.errors" class="invalid-feedback">
                    <div *ngIf="f.lieu_naissance.errors.required">Le lieu de naissance est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Adresse <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="adresse"
                    [ngClass]="{ 'is-invalid': submitted && f.adresse.errors}">
                  <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                    <div *ngIf="f.adresse.errors.required">L'adresse est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Téléphone d'un parent<i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="telephone"
                    [ngClass]="{ 'is-invalid': submitted && f.telephone.errors}">
                  <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                    <div *ngIf="f.telephone.errors.required">Le numéro de téléphone est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">E-mail d'un parent <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="email_parent"
                    [ngClass]="{ 'is-invalid': submitted && f.email_parent.errors}">
                  <div *ngIf="submitted && f.email_parent.errors" class="invalid-feedback">
                    <div *ngIf="f.email_parent.errors.required">L'email est obligatoire !
                    </div>
                    <div *ngIf="f.email_parent.errors.email">E-mail incorrect</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Genre <i style="color: red;">
                    *</i></label>
                <div class="col-sm-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" formControlName="genre" class="form-check-input" name="genre" id="masculin" value="masculin" checked>
                      Masculin
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" formControlName="genre"  class="form-check-input" name="genre" id="feminin" value="feminin" >
                      Féminin
                      <i class="input-helper"></i>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Père
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prénom <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="prenom_pere"
                    [ngClass]="{ 'is-invalid': submitted && f.prenom_pere.errors}">
                  <div *ngIf="submitted && f.prenom_pere.errors" class="invalid-feedback">
                    <div *ngIf="f.prenom_pere.errors.required">Le prénom du père est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Profession <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="profession_pere"
                    [ngClass]="{ 'is-invalid': submitted && f.profession_pere.errors}">
                  <div *ngIf="submitted && f.profession_pere.errors" class="invalid-feedback">
                    <div *ngIf="f.profession_pere.errors.required">La profession du père est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Mère
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Prénom et nom <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="nom_prenom_mere"
                    [ngClass]="{ 'is-invalid': submitted && f.nom_prenom_mere.errors}">
                  <div *ngIf="submitted && f.nom_prenom_mere.errors" class="invalid-feedback">
                    <div *ngIf="f.nom_prenom_mere.errors.required">Le prénom et le nom de la mère est obligatoire !</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Profession <i style="color: red;">
                    *</i></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="profession_mere"
                    [ngClass]="{ 'is-invalid': submitted && f.profession_mere.errors}">
                  <div *ngIf="submitted && f.profession_mere.errors" class="invalid-feedback">
                    <div *ngIf="f.profession_mere.errors.required">La profession de la mère est obligatoire !
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="card-description">
            Autre
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Handicap particulier </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="handicap_particuliers">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Maladie particulier </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="maladies_particulieres">
                </div>
              </div>
            </div>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-gradient-dark btn-fw" (click)="close()">Annuler</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-gradient-primary btn-fw">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>