<div class="col-lg-15 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div>
            <i class="mdi mdi-close text-primary" (click)="back()" placement="top" ngbTooltip="Fermer" style="font-size: 20px;"></i>
        </div><hr>
            <div class="card-title">
                <h3 style="font-size: 25px;">
                    <u>Les informations sur<b> {{data.nom}} {{data.prenom}} :</b></u>
                </h3>
            </div>
            <div>Matricule : <b>{{data.matricule}}</b> </div>
            <div>Nom : <b>{{data.nom}}</b> </div>
            <div>Prénom : <b>{{data.prenom}}</b></div>
            <div>Genre : <b>{{data.genre}}</b></div>
            <div>Date de naissance : <b>{{data.date_naissance | date: "dd/MM/yyyy" }}</b></div>
            <div>Lieu de naissance : <b>{{data.lieu_naissance }}</b></div>
            <div>Adresse : <b>{{data.adresse}}</b></div>
            <div>Téléphone : <b>{{data.telephone}}</b></div>
            <div>Nationalité : <b>{{data.nationalite}}</b></div>
            <div>Fonction : <b>{{data.fonction}}</b></div>
            <div>Rôle : <b>{{data.role}}</b></div>
            <div>Statut : <b>{{data.statut}}</b></div>
            <div>Date de récrutement : <b>{{data.date_recrutement | date: "dd/MM/yyyy" }}</b></div>
            <div>Type de contrat : <b>{{data.type_contrat}}</b></div>
            <div>Durée du contrat : <b>{{data.duree_contrat}}</b></div>
            <div></div>
        </div>
    </div>
</div>