<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-account-multiple"></i>
        </span>
        La liste des élèves
    </h3>
</div>
<div class="col-lg-12 grid-margin stretch-card" id="print-section">
    <div class="card" >
        <div class="card-body">
            <div class="card-title">
                <div class="row">
                    <div class="col-md-3">
                        <div class="search-field d-none d-md-block">
                            <form class="d-flex align-items-center h-100" action="#">
                                <div class="input-group">
                                    <div class="input-group-prepend  bg-light">
                                        <i class="input-group-text border-0 mdi mdi-magnify  bg-transparent"></i>
                                    </div>
                                    <input type="text" class="form-control bg-light border-0"
                                        placeholder="Recherche par nom" [(ngModel)]="filterText" name="filterText"
                                        (change)="onFilterChange()">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select class="form-control form-control-lg" id="exampleFormControlSelect1" (change)="selectChange($event.target.value)" [(ngModel)]="change">
                                <option value="tous">Tous</option>
                                <option *ngFor="let classe of classes" value="{{classe.id}}">{{
                                    classe.nom_classe }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div style="float: right;">
                            <button class="btn" *ngIf="isEconome==true" (click)="onAdd()" placement="top" ngbTooltip="Inscrire un nouveau élève"><i
                                    class="mdi mdi-account-multiple-plus text-primary"
                                    style="font-size: 25px;"></i></button>
                            <button class="btn" (click)="print()" printTitle="Print Title"
                                printSectionId="print-section" ngxPrint><i class="mdi mdi-printer text-primary"
                                    style="font-size: 25px;" placement="top"
                                    ngbTooltip="Imprimer la listes des élèves"></i></button>
                        </div>
                    </div>
                    <div class="col-md-1" *ngIf="isEconome==true" style="float: right;" placement="top" ngbTooltip="Importer un fichier excel">
                        <span class="parent-div">
                            <i class="btn btn-upload border-0 mdi mdi-file-excel text-primary"
                                style="font-size: 25px;"></i>
                            <input type="file" name="upfile" accept=".xlsx" (change)="getFile($event)" />
                        </span>
                    </div>
                </div>
                <div #data id="data" class="table-responsive pt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Matricule
                                </th>
                                <th>
                                    Nom
                                </th>
                                <th>
                                    Prénom
                                </th>
                                <th>
                                    Adresse
                                </th>
                                <th>
                                    Date de naissance
                                </th>
                                <th>
                                    Téléphone
                                </th>
                                <th>
                                    Email
                                </th>
                                <th *ngIf="noPrint"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let eleve of lesEleves">
                                <td>{{eleve.matricule}}</td>
                                <td>{{eleve.nom}}</td>
                                <td>{{eleve.prenom}}</td>
                                <td>{{eleve.adresse}}</td>
                                <td>{{eleve.date_naissance | date: "dd/MM/yyyy" }}</td>
                                <td> {{eleve.telephone}} </td>
                                <td> {{eleve.email_parent}} </td>
                                <td *ngIf="noPrint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="mdi mdi-lead-pencil text-primary" placement="top"
                                        ngbTooltip="Modifier un élève" style="font-size: 20px;"
                                        (click)="onEdit(eleve)"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="mdi mdi-plus-circle text-primary" placement="top" ngbTooltip="Détail"
                                        style="font-size: 20px;" (click)="detail(eleve)"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <i class="mdi mdi-delete text-primary" placement="top"
                                        ngbTooltip="Supprimer un élève" style="font-size: 20px;"
                                        (click)="onDelete(eleve)"></i>
                                        <span *ngIf="isEconome == true">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="mdi mdi-account-convert text-primary" placement="top"
                                        ngbTooltip="Mensualité" style="font-size: 20px;" (click)="mensualite(eleve)"></i>
                                        </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer" *ngIf="collectionSize > pageSize">
                    <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [page]="page"
                        aria-label="Default pagination" class="d-flex justify-content-center"
                        (pageChange)="pageChange($event)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>