<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h3>
                Modifier un enseignant
            </h3>
            <form class="form-sample" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Matricule <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="matricule"
                                    [ngClass]="{ 'is-invalid': submitted && f.matricule.errors}" disabled>
                                <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
                                    <div *ngIf="f.matricule.errors.required">Le matricule est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Prénom <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="prenom"
                                    [ngClass]="{ 'is-invalid': submitted && f.prenom.errors}">
                                <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                                    <div *ngIf="f.prenom.errors.required">Le prénom est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nom <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="nom"
                                    [ngClass]="{ 'is-invalid': submitted && f.nom.errors}">
                                <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                    <div *ngIf="f.nom.errors.required">Le nom est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date de naissance <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" formControlName="date_naissance"
                                    [ngClass]="{ 'is-invalid': submitted && f.date_naissance.errors}" disabled>
                                <div *ngIf="submitted && f.date_naissance.errors" class="invalid-feedback">
                                    <div *ngIf="f.date_naissance.errors.required">La date de naissance est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Lieu de naissance <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="lieu_naissance"
                                    [ngClass]="{ 'is-invalid': submitted && f.lieu_naissance.errors}" disabled>
                                <div *ngIf="submitted && f.lieu_naissance.errors" class="invalid-feedback">
                                    <div *ngIf="f.lieu_naissance.errors.required">Le lieu de naissance est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Adresse <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="adresse"
                                    [ngClass]="{ 'is-invalid': submitted && f.adresse.errors}">
                                <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                                    <div *ngIf="f.adresse.errors.required">L'adresse est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Téléphone <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="telephone"
                                    [ngClass]="{ 'is-invalid': submitted && f.telephone.errors}">
                                <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                                    <div *ngIf="f.telephone.errors.required">Le numéro de téléphone est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nationalité <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="nationalite"
                                    [ngClass]="{ 'is-invalid': submitted && f.nationalite.errors}" disabled>
                                <div *ngIf="submitted && f.nationalite.errors" class="invalid-feedback">
                                    <div *ngIf="f.nationalite.errors.required">La nationalité est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">E-mail <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">L'email est obligatoire
                                    </div>
                                    <div *ngIf="f.email.errors.email">E-mail incorrect</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date de récrutement <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" formControlName="date_recrutement"
                                    [ngClass]="{ 'is-invalid': submitted && f.date_recrutement.errors}" disabled>
                                <div *ngIf="submitted && f.date_recrutement.errors" class="invalid-feedback">
                                    <div *ngIf="f.date_recrutement.errors.required">La date de recrutement est
                                        obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Spécialité <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="specialite"
                                    [ngClass]="{ 'is-invalid': submitted && f.specialite.errors}">
                                <div *ngIf="submitted && f.specialite.errors" class="invalid-feedback">
                                    <div *ngIf="f.specialite.errors.required">La spécialité est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Dernier diplôme<i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="dernier_diplome"
                                    [ngClass]="{ 'is-invalid': submitted && f.dernier_diplome.errors}">
                                <div *ngIf="submitted && f.dernier_diplome.errors" class="invalid-feedback">
                                    <div *ngIf="f.dernier_diplome.errors.required">Le dernier diplôme obtenue est
                                        obligatoire est obligatoire</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Etat contractuel <i style="color: red;">
                                    *</i></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" formControlName="etat_contractuel"
                                    [ngClass]="{ 'is-invalid': submitted && f.etat_contractuel.errors}">
                                <div *ngIf="submitted && f.etat_contractuel.errors" class="invalid-feedback">
                                    <div *ngIf="f.etat_contractuel.errors.required">L'etat contractuel est
                                        obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="float: right;">
                    <button type="button" class="btn btn-gradient-dark btn-fw"
                        (click)="close()">Annuler</button>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-gradient-primary btn-fw">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>